<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.server.admin.mapper.ItemLogMapper">

    <resultMap type="ItemLog" id="ItemLogResult">
        <id     property="id"              column="id"               />
        <result property="identityId"      column="identity_id"             />
		<result property="roleName"        column="role_name"             />
		<result property="source"          column="source"             />
		<result property="group"           column="group"              />
		<result property="itemId"          column="item_id"              />
		<result property="resId"           column="res_id"             />
		<result property="quantity"        column="quantity"             />
		<result property="before"          column="before"             />
		<result property="current"         column="current"             />
		<result property="description"     column="description"             />
		<result property="createTime"      column="first_create_time"             />
	</resultMap>

<!--    <sql id="selectItemLogVo">-->
<!--        select id,name,account,channel_id,head_res_id,title_lv,level,exp,power,del_flag,online,first_create_time from player_role-->
<!--    </sql>-->

   <select id="selectItemLogById" resultMap="ItemLogResult"  >
   	select identity_id,role_name,source,`group`,item_id,res_id,quantity,`before`,current,description,first_create_time from `${tabName}`
		<where>
			<if test="playerId != null and playerId != 0">
				AND identity_id = #{playerId}
			</if>
			<if test="itemLog.itemId != null and itemLog.itemId != 0">
				AND item_id = #{itemLog.itemId}
			</if>
			<if test="itemLog.resId != null and itemLog.resId != 0">
				AND res_id = #{itemLog.resId}
			</if>
			<if test="itemLog.source != null and itemLog.source != 0">
				AND source = #{itemLog.source}
			</if>
			<if test="itemLog.params.beginTime != null and itemLog.params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &gt;= date_format(#{itemLog.params.beginTime},'%y%m%d%H%i%s')
			</if>
			<if test="itemLog.params.endTime != null and itemLog.params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &lt;= date_format(#{itemLog.params.endTime},'%y%m%d%H%i%s')
			</if>
		</where>
	    order by first_create_time desc limit #{limitStart}, #{limitEnd}
	   <!-- 数据范围过滤 -->
	   ${itemLog.params.dataScope}
   </select>

	<select id="selectItemLogByIdAll" resultMap="ItemLogResult"  >
		select identity_id,role_name,source,`group`,item_id,res_id,quantity,`before`,current,description,first_create_time from `${tabName}`
		<where>
			<if test="playerId != null and playerId != 0">
				AND identity_id = #{playerId}
			</if>
			<if test="itemLog.itemId != null and itemLog.itemId != 0">
				AND item_id = #{itemLog.itemId}
			</if>
			<if test="itemLog.resId != null and itemLog.resId != 0">
				AND res_id = #{itemLog.resId}
			</if>
			<if test="itemLog.source != null and itemLog.source != 0">
				AND source = #{itemLog.source}
			</if>
			<if test="itemLog.params.beginTime != null and itemLog.params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &gt;= date_format(#{itemLog.params.beginTime},'%y%m%d%H%i%s')
			</if>
			<if test="itemLog.params.endTime != null and itemLog.params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &lt;= date_format(#{itemLog.params.endTime},'%y%m%d%H%i%s')
			</if>
		</where>
		 order by first_create_time desc
		<!-- 数据范围过滤 -->
		${itemLog.params.dataScope}
	</select>

	<select id="countItemLog" parameterType="Long" resultType="Long"  >
		select count(1) from `${tabName}`
		<where>
			<if test="playerId != null and playerId != 0">
				AND identity_id = #{playerId}
			</if>
			<if test="itemLog.itemId != null and itemLog.itemId != 0">
				AND item_id = #{itemLog.itemId}
			</if>
			<if test="itemLog.resId != null and itemLog.resId != 0">
				AND res_id = #{itemLog.resId}
			</if>
			<if test="itemLog.source != null and itemLog.source != 0">
				AND source = #{itemLog.source}
			</if>
			<if test="itemLog.params.beginTime != null and itemLog.params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &gt;= date_format(#{itemLog.params.beginTime},'%y%m%d%H%i%s')
			</if>
			<if test="itemLog.params.endTime != null and itemLog.params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(first_create_time,'%y%m%d%H%i%s') &lt;= date_format(#{itemLog.params.endTime},'%y%m%d%H%i%s')
			</if>
		</where>
		<!-- 数据范围过滤 -->
		${itemLog.params.dataScope}
	</select>

	<select id="countTable" parameterType="String" resultType="String" >
<!--		show tables like '%log_operation%'-->
		SELECT table_name FROM information_schema.tables WHERE
		table_schema=#{schemaName} AND table_name like '%log_operation%'
	</select>

</mapper>