<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gm.server.admin.mapper.ItemMapper">

    <resultMap type="Item" id="ItemResult">
        <id     property="roleId"                column="role_id"               />
        <result property="itemData"                column="item_data"             />
	</resultMap>

    <sql id="selectItemVo">
        select role_id,item_data from item
    </sql>

   <select id="selectItemById" parameterType="Long" resultMap="ItemResult">
   	<include refid="selectItemVo"/>
	   where role_id = #{roleId}
   </select>

</mapper>