<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycw.gm.admin.mapper.GangsMemberMapper">

    <resultMap type="GangsMember" id="GangsMemberResult">
        <id     property="roleId"          column="id"               />
        <result property="donate"          column="donate"             />
		<result property="skills"          column="skills_data"             />
		<result property="legionActiveData"          column="legion_active_data"             />
		<result property="joinLegionTime" column="join_legion_time" />
		<result property="createTime"      column="first_create_time"             />
	</resultMap>

    <sql id="selectGangsMemberVo">
        select id,donate,skills_data,legion_active_data,join_legion_time,first_create_time from legion_member
    </sql>

	<select id="selectGangsMembersById" parameterType="Long" resultMap="GangsMemberResult">
		<include refid="selectGangsMemberVo"/>
		where id = #{playerId}
	</select>

	<select id="selectGangsMembersByIds" resultMap="GangsMemberResult">
		<include refid="selectGangsMemberVo"/>
		where id in
		<foreach collection="playerIds" item="playerId" open="(" separator="," close=")">
			#{playerId}
		</foreach>
	</select>

</mapper>