<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycw.gm.admin.mapper.GmBroadcastMapper">
    
    <resultMap type="GmBroadcast" id="GmBroadcastResult">
        <result property="id"    column="id"    />
        <result property="serverId"    column="server_id"    />
        <result property="interval"    column="interval"    />
        <result property="times"    column="times"    />
        <result property="bcContent"    column="bc_content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectGmBroadcastVo">
        select id, server_id, `interval`, times, bc_content, `status`, create_by, create_time, update_by, update_time from gm_broadcast
    </sql>

    <select id="selectGmBroadcastList" parameterType="GmBroadcast" resultMap="GmBroadcastResult">
        <include refid="selectGmBroadcastVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectGmBroadcastById" parameterType="Long" resultMap="GmBroadcastResult">
        <include refid="selectGmBroadcastVo"/>
        where id = #{id}
    </select>

    <select id="selectGmBroadcastByIds" parameterType="Long" resultMap="GmBroadcastResult">
        <include refid="selectGmBroadcastVo"/>
        where id in
        <foreach collection="array" item="sid" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </select>
        
    <insert id="insertGmBroadcast" parameterType="GmBroadcast" useGeneratedKeys="true" keyProperty="id">
        insert into gm_broadcast
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverId != null">server_id,</if>
            <if test="interval != null">`interval`,</if>
            <if test="times != null">times,</if>
            <if test="bcContent != null">bc_content,</if>
            <if test="status != null">`status`,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverId != null">#{serverId},</if>
            <if test="interval != null">#{interval},</if>
            <if test="times != null">#{times},</if>
            <if test="bcContent != null">#{bcContent},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateGmBroadcast" parameterType="GmBroadcast">
        update gm_broadcast
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverId != null">server_id = #{serverId},</if>
            <if test="interval != null">`interval` = #{interval},</if>
            <if test="times != null">times = #{times},</if>
            <if test="bcContent != null">bc_content = #{bcContent},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <update id="updateGmBroadcastStatus">
        update gm_broadcast
        <trim prefix="SET" suffixOverrides=",">
            `status` = #{broadcast.status},
            update_by = #{broadcast.updateBy},
            update_time = sysdate()
        </trim>
        where (status is null or status = 0 or status = 1) and id in
        <foreach collection="sid" item="sid" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </update>

    <delete id="deleteGmBroadcastById" parameterType="Long">
        delete from gm_broadcast where id = #{id}
    </delete>

    <delete id="deleteGmBroadcastByIds" parameterType="String">
        delete from gm_broadcast where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>