<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycw.gm.admin.mapper.PlayerMapper">

    <resultMap type="Player" id="PlayerResult">
        <id     property="roleId"              column="id"               />
        <result property="roleName"            column="name"             />
		<result property="account"             column="account"             />
		<result property="channelId"           column="channel_id"             />
<!--		<result property="headResId"           column="head_res_id"              />-->
<!--		<result property="titleLvResId"           column="title_lv"              />-->
		<result property="level"               column="level"             />
		<result property="exp"                 column="exp"             />
		<result property="power"               column="power"             />
		<result property="delFlag"             column="del_flag"             />
		<result property="online"              column="online"             />
		<result property="firstCreateTime"          column="first_create_time"             />
	</resultMap>

	<resultMap type="PlayerBase" id="PlayerBaseResult">
		<id     property="gangsId"              column="legion_id"               />
		<result property="gangsName"            column="gangs_name"             />
		<result property="loginTime"             column="login_time"             />
		<result property="logoutTime"           column="logout_time"             />
		<result property="registerIp"           column="register_ip"              />
		<result property="lastLoginIp"           column="last_login_ip"              />
		<result property="gold"               column="gold"             />
		<result property="copper"                 column="copper"             />
		<result property="sumGold"               column="sum_gold"             />
		<result property="costGold"             column="cost_gold"             />
		<result property="vipLevel"             column="vip_level"             />
		<result property="vipExp"             column="vip_exp"             />
		<result property="onlineTime"             column="online_time"             />
	</resultMap>

    <sql id="selectPlayerVo">
        select id,name,account,channel_id,level,exp,power,del_flag,online,first_create_time from player_role
    </sql>

	<sql id="playerBaseVo">
		select p.legion_id, l.name as gangs_name, p.login_time, p.logout_time,
		p.register_ip, p.last_login_ip, a.gold, a.copper, p.cz_money as sum_gold,
		p.cost_money as cost_gold, v.vip_lv as vip_level, v.progress as vip_exp,
		s.online_time as online_time
		from player_role p
			LEFT JOIN legion l on p.legion_id = l.id
			LEFT JOIN player_assets a on p.id = a.id
			LEFT JOIN player_single_data s on p.id = s.id
			LEFT JOIN vip v on p.id = v.id
	</sql>

   <select id="selectPlayerList" parameterType="Player" resultMap="PlayerResult">
   	<include refid="selectPlayerVo"/>
   	<where>
		<if test="roleId != null and roleId != 0">
			AND id = #{roleId}
		</if>
		<if test="account != null and account != ''">
			AND account = #{account}
		</if>
		<if test="channelId != null and channelId != ''">
			AND channel_id = #{channelId}
		</if>
		<if test="roleName != null and roleName != ''">
			AND name like concat('%', #{roleName}, '%')
		</if>
	</where>

   	order by id
   </select>

   <select id="selectPlayerAll" resultMap="PlayerResult">
   	<include refid="selectPlayerVo"/>
   </select>

   <select id="selectPlayerById" parameterType="Long" resultMap="PlayerResult">
   	<include refid="selectPlayerVo"/>
   	where id = #{playerId}
   </select>

	<select id="selectPlayerBaseById" parameterType="Long" resultMap="PlayerBaseResult">
		<include refid="playerBaseVo"/>
		where p.id = #{playerId}
	</select>

</mapper>