<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycw.gm.admin.mapper.ProtocolCmdMapper">
    
    <resultMap type="ProtocolCmd" id="ProtocolCmdResult">
        <result property="cmdId"    column="cmd_id"    />
        <result property="cmdName"    column="cmd_name"    />
        <result property="cmdDesc"    column="cmd_desc"    />
        <result property="cmdVersion"    column="cmd_version"    />
    </resultMap>

    <sql id="selectProtocolCmdVo">
        select cmd_id, cmd_name, cmd_desc, cmd_version from protocol_cmd
    </sql>

    <select id="selectProtocolCmdList" parameterType="ProtocolCmd" resultMap="ProtocolCmdResult">
        <include refid="selectProtocolCmdVo"/>
        <where>
            <if test="cmdId != null and cmdId != 0">
                AND cmd_id = #{cmdId}
            </if>
            <if test="cmdName != null">
                AND cmd_name = #{cmdName}
            </if>
            <if test="cmdVersion != null">
                AND cmd_version = #{cmdVersion}
            </if>
        </where>
    </select>

    <select id="selectProtocolCmdByMoreId" resultMap="ProtocolCmdResult">
        <include refid="selectProtocolCmdVo"/>
        where cmd_id in
        <foreach collection="ids" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
        and cmd_version = #{fileVersion}
    </select>

    <select id="selectProtocolCmdById" resultMap="ProtocolCmdResult">
        <include refid="selectProtocolCmdVo"/>
        where cmd_id = #{id} and cmd_version = #{fileVersion}
    </select>


    <insert id="insertProtocolCmd" parameterType="ProtocolCmd" useGeneratedKeys="true" keyProperty="id">
        insert into protocol_cmd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cmdId != null">cmd_id,</if>
            <if test="cmdName != null">cmd_name,</if>
            <if test="cmdDesc != null">cmd_desc,</if>
            <if test="cmdVersion != null">cmd_version,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cmdId != null">#{cmdId},</if>
            <if test="cmdName != null">#{cmdName},</if>
            <if test="cmdDesc != null">#{cmdDesc},</if>
            <if test="cmdVersion != null">#{cmdVersion},</if>
         </trim>
    </insert>

    <update id="updateProtocolCmd" parameterType="ProtocolCmd">
        update protocol_cmd
        <trim prefix="SET" suffixOverrides=",">
            <if test="cmdName != null">cmd_name = #{cmdName},</if>
            <if test="cmdDesc != null">cmd_desc = #{cmdDesc},</if>
        </trim>
        where cmd_id = #{cmdId} and cmd_version = #{cmdVersion}
    </update>

    <delete id="deleteProtocolCmdById">
        delete from protocol_cmd where cmd_id = #{id} and cmd_version = #{cmdVersion}
    </delete>

    <delete id="deleteProtocolCmdByVersion" parameterType="String">
        delete from protocol_cmd where cmd_version = #{version}
    </delete>

</mapper>